body{
    font-family: 'Montserrat', sans-serif !important;
    
    background-image: url(../../assets/img/background/pxfuel.jpg)!important;
    background-size: cover;
    

}
.navbar-brand > img {
    width: 15vw;
}

.d-inline-block{
    width:5vw;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#nav-container-checkbox {
    flex: 1;
}

#search-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#search-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
}

#search-button {
    padding: 10px;
}

#img-card{
  width: 100% !important;
  height: 15rem !important;
  
  }

  #boton-arriba {
    display: none; /* Ocultar el botón por defecto */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  
  #boton-arriba:hover {
    background-color: rgb(38, 87, 194);
  }
  
  

@media (max-width: 768px) {
    #container {
      flex-direction: column;
    }
}

  